<div style="width:600px;height:auto; margin:0 auto;">
  
<mat-toolbar color="accent">
<span>MyPRoF</span>
<span class="example-spacer"></span>
<button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>Menu</button>

</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  <mat-card>
     <img mat-card-image src="assets/mk.jpg">
     <mat-card-header>
        <mat-card-title> Hello India 
          </mat-card-title>
      </mat-card-header>

        <mat-card-actions>
            <button mat-button>Like</button>
        <button mat-button>Share</button>
        <p>
            Rating
            <button mat-raised-button color="accent"
                matBadge="8" matBadgePosition="before" matBadgeColor="accent">
              Action
            </button>
          </p>
      </mat-card-actions>  
  </mat-card>
 
  </div>